@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer base {
}

@layer components {
	.contract-submit-button {
		@apply py-2 px-8 bg-green-300/30 hover:bg-green-300/50 rounded-full;
	}

	.contract-home-button {
		@apply py-2 px-8 bg-blue-300/30 hover:bg-blue-300/50 rounded-full;
	}

	.table-items {
		@apply border border-gray-800 p-1;
	}

	.input-field {
		@apply flex flex-row justify-between items-center;
	}

	.input-field-text-boxes {
		@apply text-black p-2 w-40;
	}
}
